= stylesheet_link_tag 'views/treatments/index'

.row.my-4
  .col
    %h1= t('.treatments')

.container-fluid
  .row.my-4.justify-content-center
    .col-xl-1
      .button.btn-primary.rounded= link_to t('.new_treatment'), new_treatment_path, class: 'text-white'

  .row.justify-content-center
    .col-6.border.rounded
      %table.table-striped
        %thead
          %tr
            %th= t('.treatment_number')
            %th= t('.title')
            %th= t('.responsable')
            %th= t('.status')
            %th= t('.type')
            %th= t('.created_at')

        %tbody
          - @treatments.each do |treatment|
            %tr
              %th= treatment.id
              %td= link_to treatment.title, treatment_path(treatment), class: 'text-dark'
              %td= treatment.consultant.name
              %td= treatment.status
              %td= treatment.treatment_type
              %td= treatment.created_at.strftime("%d-%m-%Y")
