.row.my-4
  .col
    %h1= t('.consultants')

.container-fluid
  .row.my-4.justify-content-center
    .col-xl-1
      .button.btn-primary.rounded= link_to t('.new_consultant'), new_consultant_path, class: 'text-white'

  .row.justify-content-center
    .col-xl-6.border.rounded.mx-2
      - @consultants.each do |consultant|
        .container-fluid.my-4
          .card
            .card-header= Consultant.human_attribute_name("level.#{consultant.level}")
            .card-body
              .card-title= link_to consultant.name, consultant_path(consultant), class: 'text-dark'
              .card-text= consultant.phone_number
